@import "./variables.scss";
body {
    background-color: $background-color;
    height: 100vh;
    padding: 30px;
    width: 100vw;
}

.disable-pointer-events {
    pointer-events: none;
}

p {
    font-size: 1.2em;
    text-align: justify;
}

a:link,
a:visited {
    text-decoration: none;
    color: $link-color;
    font-style: italic;
}

a:hover,
a:active {
    text-decoration: underline;
}

.style-tile {
    min-width: calc(100vw - 60px);
    max-width: calc(100vw - 60px);
}
@media only screen and (min-width: 600px) {
    .style-tile {
        max-width: calc((100vw / 2) - 80px);
        min-width: calc((100vw / 2) - 80px);
    }
}
@media only screen and (min-width: 900px) {
    .style-tile {
        max-width: calc((100vw / 3) - 60px);
        min-width: calc((100vw / 3) - 60px);
    }
}

.style-tile-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.style-image {
    margin: 20px 2%;
    width: 90%;
    -webkit-box-shadow: 10px 10px 20px 0px rgba(212, 212, 212, 1);
    -moz-box-shadow: 10px 10px 20px 0px rgba(212, 212, 212, 1);
    box-shadow: 10px 10px 20px 0px rgba(212, 212, 212, 1);
}

.style-card {
    border: unset;
}

.outer {
    z-index: 10;
}

@media only screen and (min-width: 1000px) {
    .style-image {
        width: 600px;
    }

    .outer {
        max-width: 1000px;
        position: relative;
        margin: 0 auto;
        overflow: hidden;
    }

    .position-image1 {
        position: relative;
        z-index: 5;
        margin-left: 20px;
    }

    .position-image2 {
        position: relative;
        margin-top: -150px;
        margin-left: 150px;
    }

    .position-image3 {
        position: relative;
        z-index: -5;
        margin-top: -800px;
        margin-left: 350px;
    }
}
