@import "./variables.scss";
body {
    background-color: $background-color;
    height: 100vh;
    margin: 0;
    width: 100vw;
}

.disable-pointer-events {
    pointer-events: none;
}

p {
    font-size: 1.2em;
    text-align: justify;
}

a:link,
a:visited {
    text-decoration: none;
    color: $link-color;
    font-style: italic;
}

a:hover,
a:active {
    text-decoration: underline;
}