@import "./variables.scss";
body {
    background-color: $background-color;
    height: 100vh;
    padding: 30px;
    width: 100vw;
}

.disable-pointer-events {
    pointer-events: none;
}

p {
    font-size: 1.2em;
    text-align: justify;
}

a:link,
a:visited {
    text-decoration: none;
    color: $link-color;
    font-style: italic;
}

a:hover,
a:active {
    text-decoration: underline;
}

.style-tile {
    min-width: calc(100vw - 60px);
    max-width: calc(100vw - 60px);
}
@media only screen and (min-width: 600px) {
    .style-tile {
        max-width: calc((100vw / 2) - 50px);
        min-width: calc((100vw / 2) - 50px);
    }
}
@media only screen and (min-width: 900px) {
    .style-tile {
        max-width: calc((100vw / 3) - 60px);
        min-width: calc((100vw / 3) - 60px);
    }
}

.style-tile-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
