$background-color: #e4f1fe;
$background-color-light-grey: #ececec;

$brand-primary-color: #68c3a3;
$brand-success-color: #26a65b;
$brand-highlight-color: #f9690e;
$brand-error-color: #cf000f;

$brand-text-color: #013243;
$brand-help-color: #6c7a89;

$white: #fff;
